<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication01">

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 环信 -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <application
        android:name=".MyAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ScrollerActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.VollyTestAvtivity" />
        <activity android:name=".activity.webViewActivity" />
        <activity android:name=".activity.ViewpagerIndecatorActivity" />
        <activity android:name=".activity.ViewPagerFragmentActivity" />
        <activity android:name=".huanxin.LoginActivity" />
        <activity android:name=".huanxin.UserChatActivity" />
        <activity android:name=".huanxin.RegesterActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SearchShowActivity" />
        <activity android:name=".activity.ColorRingAcitivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.ListViewItemSelecte" />
        <activity android:name=".activity.SideSlippingActivity" />
        <activity android:name=".activity.ShowWebImageActivity" />
        <activity android:name=".activity.JavaScriptActivity" />
        <activity android:name=".activity.JsonParseActivity" />

        <!-- <meta-data android:name="UMENG_CHANNEL" android:value="wandoujia" /> -->
        <!-- 多渠道打包 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57690a2267e58e3c2b001507" />

        <!-- 环信key -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="walden-wang#myaplication" />
        <!-- 开启的服务 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SheetFatActivity" />
        <activity android:name=".activity.Dagger2Activity" />
        <activity android:name=".activity.MiniMusicActivity" />

        <service android:name=".minimusic.MusicService" />

        <activity android:name=".activity.MaterialTextFieldActivity" />
        <activity android:name=".activity.RippleBGActivity"></activity>
    </application>

</manifest>